<div class="back">
  <div class="container-fluid">
    <a routerLink="/"><i class="fa-solid fa-chevron-left"></i> Back</a>
  </div>
</div>
<div class="container-fluid">
  <div class="profile-data">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid"
            src="{{formData.image ? formData.image : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'}}"
            alt="Form image">
        </div>
        <div class="col-md-8">
          <div class="d-grid profile-txt">
            <h1>{{formData.firstName}} {{formData.lastName}}</h1>
            <p><span>Income</span> {{formData.income}}</p>
            <p><span>Score</span> {{calculateScore(formData)}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
